[submodule "cpp-httplib"]
	path = external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "inja"]
	path = external/inja
	url = https://github.com/pantor/inja.git
[submodule "cli"]
	path = external/cli
	url = https://github.com/daniele77/cli
[submodule "external/CMake-codecov"]
	path = external/CMake-codecov
	url = git://github.com/RWTH-HPC/CMake-codecov.git
