/*
SIDE BAR AND BANNER FORMATTING START-------------------------------------------------------------------------------------------
*/
body{
  background-color: #0D1117;
  overflow:hidden;
}

svg {
  z-index:-1;
  position:absolute;
  left:0;
  top:0;
}
.sidebar
{ 
  height:100vh;
  width: 25vw;
  background-color:#555;
  overflow-x:auto;
  color:white;
}

.class-table
{
  margin-top: 15px;
}

body h1, h2, h3, h4, h5 {
  font-size:20px;
  
}

body form
{
  font-size:15px;
}

#umlcanvas
{
  display:none;
}

.welcomeBanner{
  color: white;
  position:absolute; 
  width: 13%;
  height: auto; 
  border:white; 
  border-radius: 5px;
  align-content: center;
  border-style: double;
  border-color: #0D1117; 
  left: 39%;
  top: 0%;
  border-style: solid; 
  font-size: large; 
  background-color: #555;
  font-style:italic;  
}

.buttonnn{
  background-color: #555; 
  color: white; 
  border-radius: 5px;
  border-style: solid; 
}
.buttonnn:hover{
  color: black;
}
.titless{
  color: white; 
  font-style: italic;
  
  
}
.entryFields{
  background-color : gray; 
}
.form-control{
  background-color : gray; 
  color: white;
}
.buttonnnPNG{
  background-color: #555; 
  color: white; 
  border-radius: 5px;
  border-style: solid;
  position:absolute; 
  right: 24%;
  top: 3%;
  font-size: medium;
}
.buttonnnPNG:hover{
  color: black;
}
.buttonnnToggle{
  background-color: #555; 
  color: white; 
  border-radius: 5px;
  border-style: double;
  border-color: black; 
  font-size: large;
  font-style:italic;
}

.buttonnnToggle:hover{
  color: black;
}
/*
SIDE BAR AND BANNER FORMATTING END-------------------------------------------------------------------------------------------
*/

/*
HELP FILE FORMATTING START-------------------------------------------------------------------------------------------
*/
.helpformat-container{
  color: white;
  padding-right: 50%;
}
.spacing{
  line-break: strict;
 
}
.headers{
  color: red;
  font-size: large;
  font-style: italic;
}
.titleforHelp{
  color: gray;
  font-size: x-large;
  font-style: italic;
}


.buttonnnHelp{
  background-color: #555; 
  color: white; 
  border-radius: 5px;
  border-style: solid;
  position:absolute; 
  right: 10%;
  top: 3%;
  font-size: medium;
}
.buttonnnHelp:hover{
  color: black;
}

/*
HELP FILE FORMATTING END-------------------------------------------------------------------------------------------
*/
.class.name {
  resize: both;
  overflow: auto;

} 
