body{
  background-color: #0D1117;
  overflow:hidden;
}
svg {
  z-index:-1;
  position:absolute;
  left:0;
  top:0;
}
.sidebar
{ 
  height:100vh;
  width: 25vw;
  background-color:black;
  overflow-x:auto;
  color:gray;
}

.class-table
{
  margin-top: 15px;
}

body h1, h2, h3, h4, h5 {
  font-size:20px;
  
}

body form
{
  font-size:15px;
}

#umlcanvas
{
  display:none;
}

/*
HELP FILE FORMATTING START-------------------------------------------------------------------------------------------
*/
.helpformat-container{
  color: white;
  padding-right: 50%;
}
.spacing{
  line-break: strict;
 
}
.headers{
  color: red;
  font-size: large;
  font-style: italic;
}
.titleforHelp{
  color: gray;
  font-size: x-large;
  font-style: italic;
}
/*
HELP FILE FORMATTING END-------------------------------------------------------------------------------------------
*/
.class.name {
  resize: both;
  overflow: auto;
} 
