<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head> 
    <meta charset="utf-8">
    <title>UML++</title>
     <!--  CSS  Bootstrap Include   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
 

    <!--  CSS  resize Include   -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
 
  </head> 
  
  <body class="bg-primary">
   <!--  Javascript Bootstrap Include   -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
   
   <!--  Welcome banner  -->
   <div class=" fixed-bottom badge bg-primary text-wrap" style="width: auto; border:white; border-style: dotted; font-size: medium;">
    Welcome to UML++
  </div>


  <!--  Class Menu Options -->
<div class="btn-group" style="position: absolute; width: 50px; right: 50%; bottom: 5%">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
    Class
  </button>

  
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#" id="addClass" onclick="addTextBox()">Add Class</a></li>
    <li><a class="dropdown-item" href="#" id="removeClass" onclick="removeElement()">Remove Class</a></li>
    
  </ul>
</div>


     <!--  Load File Options -->
    <div class="mb-3" style="width: 8%; margin: auto; position: absolute; right: 0px; bottom: 15px;" >
      <label for="formFile" class="form-label" style="border:white; border-style: dotted; font-size: small;">Load UML File</label>
      <input class="form-control" type="file" id="formFile">
    </div>

  


   <!--  Drag textbox  Options -->
   <input type="button" class="draggable"  style=" color: red;"/>
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script>
     (function($) {
         $.fn.drags = function(opt) {
     
             opt = $.extend({handle:"",cursor:"move"}, opt);
     
             if(opt.handle === "") {
                 var $el = this;
             } else {
                 var $el = this.find(opt.handle);
             }
     
             return $el.css('cursor', opt.cursor).on("mousedown", function(e) {
                 if(opt.handle === "") {
                     var $drag = $(this).addClass('draggable');
                 } else {
                     var $drag = $(this).addClass('active-handle').parent().addClass('draggable');
                 }
                 var z_idx = $drag.css('z-index'),
                     drg_h = $drag.outerHeight(),
                     drg_w = $drag.outerWidth(),
                     pos_y = $drag.offset().top + drg_h - e.pageY,
                     pos_x = $drag.offset().left + drg_w - e.pageX;
                 $drag.css('z-index', 1000).parents().on("mousemove", function(e) {
                     $('.draggable').offset({
                         top:e.pageY + pos_y - drg_h,
                         left:e.pageX + pos_x - drg_w
                     }).on("mouseup", function() {
                         $(this).removeClass('draggable').css('z-index', z_idx);
                     });
                 });
                 e.preventDefault(); // disable selection
             }).on("mouseup", function() {
                 if(opt.handle === "") {
                     $(this).removeClass('draggable');
                 } else {
                     $(this).removeClass('active-handle').parent().removeClass('draggable');
                 }
             });
     
         }
     })(jQuery);
     
     $(".draggable").drags();
   </script>


   <!--  SCRIPTS   -->
 
  
    <script>
   
   //ADD textbox when create class is clicked

  function addTextBox() {
      


    var t = document.createTextNode("Remove Class");    
    var but = document.createElement("button"); 
        but.setAttribute("type", "button");
        but.setAttribute("id", "removeClassButton");
        but.setAttribute("name", "removeClassButtonN");
        but.setAttribute('style', 'height: 30px; width: 120px;');
        but.setAttribute("class", "draggable");
    
    var submitButtonText = document.createTextNode("Submit");  
    var butto = document.createElement("button"); 
        butto.setAttribute("type", "button");
        butto.setAttribute("id", "submitClassButton");
        butto.setAttribute("name", "submitClassButtonN");
        butto.setAttribute('style', 'height: 30px; width: 60px;');
        butto.setAttribute("class", "draggable");
   
    var classElement = document.createElement("textarea");
        classElement.setAttribute('style', 'height: 35px;  position: relative; left: -120px; top:43px; ');
        classElement.setAttribute('placeholder', 'Enter Class Name:');
        classElement.setAttribute("class", "draggable");
        classElement.setAttribute("type", "text");
        classElement.setAttribute("id", "classTextBox");
        classElement.setAttribute("name", "classTextBoxN");
      
    var AttributeElement = document.createElement("textarea");
        AttributeElement.setAttribute('style', 'height: 35px;  position: relative; left: -290px; top: 80px; ');
        AttributeElement.setAttribute('placeholder', 'Enter Attribute Name:');
        AttributeElement.setAttribute("class", "draggable");
        AttributeElement.setAttribute("type", "text");
        AttributeElement.setAttribute("name", "attributeN");
        AttributeElement.setAttribute("id", "attribute");
    
    var relationshipElement = document.createElement("textarea");
        relationshipElement.setAttribute('style', 'height: 35px; position: relative; left: -460px; top: 117px;');
        relationshipElement.setAttribute('placeholder', 'Enter Relationships:');
        relationshipElement.setAttribute("class", "draggable");
        relationshipElement.setAttribute("type", "text");
        relationshipElement.setAttribute("name", "relationshipN");
        relationshipElement.setAttribute("id", "relationship");

    var paramElement = document.createElement("textarea");
        paramElement.setAttribute('style', 'height: 35px;  position: relative;  left: -630px; top: 154px;');
        paramElement.setAttribute('placeholder', 'Enter Parameters:');
        paramElement.setAttribute("class", "draggable");
        paramElement.setAttribute("type", "text");
        paramElement.setAttribute("name", "parameterN");
        paramElement.setAttribute("id", "parameter");
      



        butto.appendChild(submitButtonText);
        document.body.appendChild(butto);
        but.appendChild(t);
        document.body.appendChild(but);
        document.body.appendChild(classElement);
        document.body.appendChild(AttributeElement);
        document.body.appendChild(relationshipElement);
        document.body.appendChild(paramElement);

        //Event listener to remove elements when clicked
       // but.addEventListener("click", removeElement);
     

   
            
      }

      //function to remove elements
      function removeElement(){
        
        var removeButton = document.getElementById('removeClassButton');
        removeButton.remove();

        var removeClass = document.getElementById('classTextBox');
        removeClass.remove();

        var removeAttribute = document.getElementById('attribute');
        removeAttribute.remove();

        var removeRelationship = document.getElementById('relationship');
        removeRelationship.remove();

        var removeParameter = document.getElementById('parameter');
        removeParameter.remove();

        var removeSubmitButton = document.getElementById('submitClassButton');
        removeSubmitButton.remove();
         

      }


</script>
 
<!-- Include for textbox resize-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  </body>
</html>