<html>
    <head>
    </head>
    <body>
        {% for error in errors %}
            <p style="color:red; font-size: 30px;">{{ error }}</p>
        {% endfor %}
        {% for succ in success %}
            <p style="color:green;font-size: 30px;">{{ succ }}</p>
        {% endfor %}
        <h1>Classes:</h1>
        {% for class in classes %}
        
            <h2 id="{{ class.name }}"><span>{{ class.name }}</span> <button id="{{ class.name }}edit">edit</button> <a href="/delete/class/{{ class.name }}">delete</a></h2>
        <div style="margin-left:50px;">    
            <h3>Fields:</h3>
            <div style="margin-left:50px;">  
            {% for field in class.fields %}
                <h4 id="{{ field.name }}">{{ field.type }} {{ field.name }} <button id="{{ field.name }}edit">edit</button> <a href="/delete/attribute/{{ class.name }}/{{ field.name }}">delete</a></h4>
            {% endfor %}
            </div>
            <form style="margin-top: 50px;" action="/add/field/{{ class.name }}" method="GET">
                <label for="fname">Field name:</label>
                <input type="text" id="fname" name="fname">
                <label for="ftype">Field type:</label>
                <input type="text" id="ftype" name="ftype">
                <input type="submit" value="add field">
            </form>
            <h3>Methods:</h3>
            <div style="margin-left:50px;">  
            {% for method in class.methods %}
            <hr>
                <h4 id="{{ method.name }}">{{ method.return_type }} {{ method.name }}() <button id="{{ method.name }}edit">edit</button> <a href="/delete/attribute/{{ class.name }}/{{ method.name }}">delete</a></h4>
                <!--parameters-->
                <h5>Params</h5>
                {% for param in method.params %}
                    <p>{{param.type}} {{param.name}}</p>
                {% endfor %}
                <form action="/add/parameter/{{ class.name }}/{{ method.name }}" method="GET">
                    <label for="pname">Parameter name:</label>
                    <input type="text" id="panme" name="pname">
                    <label for="ptype">Parameter type:</label>
                    <input type="text" id="ptype" name="ptype">
                    <input type="submit" value="add parameter">
                </form>
                <hr>
            {% endfor %}
            </div>
            <form style="margin-top: 50px;" action="/add/method/{{ class.name }}" method="GET">
                <label for="mname">Method name:</label>
                <input type="text" id="mname" name="mname">
                <label for="mtype">Method type:</label>
                <input type="text" id="mtype" name="mtype">
                <input type="submit" value="add method">
            </form>
        </div>
        {% endfor %}
        <form style="margin-top: 50px;" action="/add/class" method="GET">
            <label for="cname">Class name:</label>
            <input type="text" id="cname" name="cname">
            <input type="submit" value="add class">
        </form>
        <h1>Relationships:</h1>
        {% for relationship in relationships %}
            <p>{{relationship.source}} -> {{relationship.destination}} type: {{relationship.type}}
                <a href="/delete/relationship/{{relationship.source}}/{{relationship.destination}}">delete</a></p>
        {% endfor %}
        <form action="/add/relationship" method="GET">
            <label for="cname">Source:</label>
            <input type="text" id="source" name="source">
            <label for="cname">Destination:</label>
            <input type="text" id="dest" name="dest">
            <select name="reltype" id="reltype">
                <option value="0">aggregation</option>
                <option value="1">composition</option>
                <option value="2">generalization</option>
                <option value="3">realization</option>
            </select>
            <input type="submit" value="add relationship">
        </form>
        <h1>File:</h1>
        <form action="/save">
            <label for="save">File Name:</label>
            <input type="text" name="save" id="save">
            <input type="submit" value="save">
        </form>
        <h3>OR</h3>
        <form action="/load" method="GET">
            <label for="load">File Name:</label>
            <select name="load" id="load">
                {% for file in files %}
                <option value="{{file}}">{{file }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="load">
        </form>
        
    </body>
    <script>
        {% for class in classes %}
            element = document.getElementById('{{ class.name }}edit');
            element.addEventListener("click", () => {
                document.getElementById("{{class.name}}").innerHTML =
                    "<form action='/edit/class/{{ class.name }}' method='GET'>" + 
                        "<input type='text' id='cname' name='cname' value='{{ class.name }}'>" +
                        "<input type='submit' value='edit class'>"
                    "</form>";
            });
            {% for method in class.methods %}
            element = document.getElementById('{{ method.name }}edit');
            element.addEventListener("click", () => {
                document.getElementById("{{method.name}}").innerHTML =
                    "<form action='/edit/attribute/{{ class.name }}/{{ method.name }}' method='GET'>" + 
                        "<input type='text' id='type' name='type' placeholder='return type' value='{{ method.return_type }}'>" +
                        "<input type='text' id='name' name='name' placeholder='name' value='{{ method.name }}'>" +
                        "<input type='submit' value='edit attribute'>" +
                    "</form>";
            });
            {% endfor %}
            {% for field in class.fields %}
            element = document.getElementById('{{ field.name }}edit');
            element.addEventListener("click", () => {
                document.getElementById("{{field.name}}").innerHTML =
                    "<form action='/edit/attribute/{{ class.name }}/{{ field.name }}' method='GET'>" + 
                        "<input type='text' id='type' name='type' placeholder='type' value='{{ field.type }}'>" +
                        "<input type='text' id='name' name='name' placeholder='name' value='{{ field.name }}'>" +
                        "<input type='submit' value='edit attribute'>" +
                    "</form>";
            });
            {% endfor %}
        {% endfor %}
    </script>
</html>